.button {
  height: 3.125rem;
  border-radius: .5rem;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  @media (max-width: 425px) {
    padding: 1rem;
  }

  img {
    margin-right: 0.5rem;
  }

  &.outlined {
    background: #fff;
    border: 0.0625rem solid #835afd;
    color: #835afd;

    @media (max-width: 425px) {
      width: 30%;
    }
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

#admin {
  height: 3.125rem;
  border-radius: .5rem;
  font-weight: 500;
  padding: 0 2rem;
  background: #fff;
  border: 0.0625rem solid #835afd;
  color: #835afd;
  cursor: pointer;
}

#btn-theme {
  height: auto;
  width: auto;
  background: transparent;

}
